@model DoAnASP.Areas.Admin.Models.TaiKhoan
@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/User/Views/Shared/_Layoutlogin.cshtml";
}


<main class="login-body" data-vide-bg="../assets/img/login-bg.mp4">
    <!-- Login Admin -->
    <form class="form-default"  asp-action="Login" method="POST">

        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="index.html"><img src="~/assets/img/logo/loder.png" alt=""></a>
            </div>
            <h2>Login Here</h2>
            <div class="form-input">
                <label for="Ten">User Name</label>
                <input type="text" name="Ten" id="Ten" placeholder="Tên Đăng Nhập">
            </div>
            
            <div class="form-input">
                <label for="name">Password</label>
                <input type="password" name="password" id="pasword" placeholder="Password">
            </div>
            <div class="form-input pt-30">
                <input type="submit" value="Log In">

            </div>

          
            <a asp-action="Signup" class="registration">Registration</a>
        </div>
    </form>
    <!-- /end login form -->
</main>
