@model DoAnASP.Areas.Admin.Models.TaiKhoan
@{
    ViewData["Title"] = "Signup";
    Layout = "~/Areas/User/Views/Shared/_Layoutlogin.cshtml";
}

<main class="login-body" data-vide-bg="~/assets/img/login-bg.mp4">
    <!-- Login Admin -->
          <form class="form-default" asp-action="Create" asp-controller="TaiKhoans"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="login-form">
                <!-- logo-login -->
                <div class="logo-login">
                    <a href="index.html"><img src="~/assets/img/logo/loder.png" alt=""></a>
                </div>
                <h2>Registration Here</h2>
                <div class="form-input">
                    <label for="Ten">Full name</label>
                    <input asp-for="Ten" type="text" name="Ten" placeholder="Full name">
                    <span asp-validation-for="Ten" class="text-danger"></span>
                </div>
                <div class="form-input">
                    <label asp-for="Password" >Password</label>
                    <input asp-for="Password" type="password" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-input">
                    <label asp-for="HinhAnh" >Hình Ảnh</label>
                    <input type="file" name="ful" asp-for="HinhAnh" placeholder="Hình Ảnh" />
                    <span asp-validation-for="HinhAnh" class="text-danger"></span>
                </div>
                @*<div class="form-input">
                <label for="Ten">Full name</label>
                <input asp-for="Ten" type="text" name="Ten" placeholder="Full name">
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>

            <div class="form-input">
                <label for="name">Password</label>
                <input asp-for="Password" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-input">
                <label for="name">Hình Ảnh</label>
                <input type="file" name="ful" asp-for="HinhAnh" placeholder="Hình Ảnh" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>*@
                <div class="form-input pt-30">
                    <input type="submit" name="submit" value="Registration">
                </div>
                <!-- Forget Password -->
                <a asp-controller="Login" asp-action="Index" class="registration">login</a>
            </div>
        </form>
    <!-- /end login form -->
</main>